ccollections
OrderedDict
p1
((lp2
(lp3
VTemplate
p4
a(S'template'
p5
(dp6
Vstyle icon
p7
NsVstyle short name
p8
VStyle
p9
sVcard width
p10
I226
sVshort name
p11
VTemplate
p12
sVcard dpi
p13
I150
sVstyle full name
p14
VMy Game Style
p15
sVcard background
p16
cwx._gdi
Colour
p17
(I255
I255
I255
I255
tRp18
sVversion
p19
V1.0
p20
sVcard height
p21
I347
sVposition hint
p22
I670
sVstyle position hint
p23
NsVfull name
p24
VtheFullname
p25
sVicon
p26
Nstp27
aa(lp28
VBorder
p29
a(S'color'
p30
(dp31
Vdefault name
p32
NsVsave value
p33
NsVheight
p34
I347
sVvisible
p35
NsVradius
p36
I5
sVcard list width
p37
NsVleft width
p38
I5
sVtop width
p39
I5
sVangle
p40
NsVtop
p41
I0
sVinitial
p42
NsVright width
p43
I5
sVshow statistics
p44
NsVwidth
p45
I226
sVcombine
p46
NsVcard list column
p47
NsVdescription
p48
NsVeditable
p49
NsVbottom width
p50
I5
sVcard list alignment
p51
NsVallow custom
p52
NsVname
p53
VBorder
p54
sVidentifying
p55
NsVdefault
p56
g17
(I0
I0
I0
I255
tRp57
sVcard list allow
p58
NsVmask
p59
NsVcard list name
p60
NsVcard list visible
p61
NsVz index
p62
I1
sVleft
p63
I0
stp64
aa(lp65
VTitle
p66
a(S'text'
p67
(dp68
Vpadding top
p69
NsVfont.shadow blur
p70
NsVpadding bottom min
p71
NsVpadding right min
p72
NsVfont.scale down to
p73
I14
sVsave value
p74
NsVheight
p75
I40
sVvisible
p76
NsVpadding bottom
p77
NsVcard list width
p78
NsVpadding left min
p79
NsVfont
p80
VComic Sans MS;28;wxFONTWEIGHT_BOLD;wxFONTSTYLE_NORMAL;false;(0, 0, 0, 255)
p81
sValignment
p82
(lp83
Vcenter
p84
aVmiddle
p85
asVline height line
p86
NsVline height soft
p87
NsVangle
p88
NsVfont.max strech
p89
NsVfont.color
p90
g17
(I0
I0
I0
I255
tRp91
sVtop
p92
I5
sVfont.Family
p93
Vscript
p94
sVshow statistics
p95
NsVwidth
p96
I210
sVmulti line
p97
NsVcard list column
p98
NsVdirection
p99
NsVallow formating
p100
NsVpadding right
p101
NsVdescription
p102
NsVeditable
p103
NsVfont.underline
p104
I00
sVfont.size
p105
I28
sVfont.separate color
p106
NsVfont.shadow displacement x
p107
NsVfont.shadow displacement y
p108
NsVfont.style
p109
Vnormal
p110
sVfont.name
p111
VComic Sans MS
p112
sVcard list alignment
p113
NsVpadding top min
p114
NsVpadding left
p115
NsVfont.shadow color
p116
NsVfont.weight
p117
Vbold
p118
sVname
p119
VTitle
p120
sVidentifying
p121
NsVdefault
p122
NsVcard list allow
p123
NsVmask
p124
NsVcard list name
p125
NsVcard list visible
p126
NsValways symbol
p127
NsVparagraph height
p128
NsVz index
p129
I1
sVline height hard
p130
NsVleft
p131
I7
stp132
aa(lp133
VBackgroundImg
p134
a(S'Image'
p135
(dp136
Vcard list column
p137
NsVdefault
p138
NsVangle
p139
NsVname
p140
VBackgroundImg
p141
sVidentifying
p142
NsVvisible
p143
NsVmask
p144
NsVcard list allow
p145
NsVtop
p146
I0
sVeditable
p147
NsVcard list name
p148
NsVsave value
p149
NsVshow statistics
p150
NsVheight
p151
I347
sVwidth
p152
I226
sVz index
p153
I0
sVcard list width
p154
NsVleft
p155
I0
sVcard list visible
p156
NsVcard list alignment
p157
NsVdescription
p158
Nstp159
aa(lp160
VRule
p161
a(g67
(dp162
Vpadding top
p163
NsVfont.shadow blur
p164
NsVpadding bottom min
p165
NsVpadding right min
p166
NsVfont.scale down to
p167
I10
sVsave value
p168
NsVheight
p169
I285
sVvisible
p170
NsVpadding bottom
p171
NsVcard list width
p172
NsVpadding left min
p173
NsVfont
p174
VComic Sans MS;20;wxFONTWEIGHT_NORMAL;wxFONTSTYLE_NORMAL;false;(0, 0, 0, 255)
p175
sValignment
p176
(lp177
Vleft
p178
aVmiddle
p179
asVline height line
p180
NsVline height soft
p181
NsVangle
p182
NsVfont.max strech
p183
NsVfont.color
p184
g17
(I0
I0
I0
I255
tRp185
sVtop
p186
I49
sVfont.Family
p187
Vscript
p188
sVshow statistics
p189
NsVwidth
p190
I210
sVmulti line
p191
I01
sVcard list column
p192
NsVdirection
p193
NsVallow formating
p194
NsVpadding right
p195
NsVdescription
p196
NsVeditable
p197
NsVfont.underline
p198
I00
sVfont.size
p199
I20
sVfont.separate color
p200
NsVfont.shadow displacement x
p201
NsVfont.shadow displacement y
p202
NsVfont.style
p203
Vnormal
p204
sVfont.name
p205
VComic Sans MS
p206
sVcard list alignment
p207
NsVpadding top min
p208
NsVpadding left
p209
NsVfont.shadow color
p210
NsVfont.weight
p211
Vnormal
p212
sVname
p213
VRule
p214
sVidentifying
p215
NsVdefault
p216
NsVcard list allow
p217
NsVmask
p218
NsVcard list name
p219
NsVcard list visible
p220
NsValways symbol
p221
NsVparagraph height
p222
NsVz index
p223
NsVline height hard
p224
NsVleft
p225
I6
stp226
aatRp227
.